body {
  background: #ffffff;
}
.page-wrap {
  min-height: 100vh;
}
pre {
  text-align: center;
  font-size: 1.4rem;
}
.actions {
  width: 400px;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table_container {
  width: 80%;
  margin: 50px auto;
}
