<nav class="navbar navbar-expand-lg navbar-dark bg-primary container-fluid">
    <div class="container">
        <a class="navbar-brand" href="#">M.Almajid</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="#">Management<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Employee<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <a href="/logout" class=" my-2 my-lg-0  btn btn-primary">
                Logout
            </a>
        </div>

    </div>
</nav>
{{!-- <div class="container">
    <div class="actions">
        <button type="button" class="btn btn-info  btn-lg">schedule management</button>
        <button type="button" class="btn btn-info  btn-lg">Employee </button>
    </div>
</div> --}}

<div class="container">
    <div class="table_container">

        <table class="table mb-5 ">
            <thead class=" ">
                <tr>
                    <th scope="col">#</th>
                    <th>Day</th>
                    <th>Start at</th>
                    <th>End at</th>
                </tr>
            </thead>
            <tbody>
                {{#each scheduleData}}
                <tr>
                    <td>{{getDay day}}</td>
                    <td>{{truncTime start_at}}</td>
                    <td>{{truncTime end_at}}</td>
                </tr>
                {{/each}}
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>